#layout {
  #sidebar {
    flex: 20%;
    width: 100%;
    max-width: 20%;
    padding-top: 50px;
  }

  main {
    flex: 80%;
    width: 100%;
    max-width: 80%;
    padding-top: 100px;
    padding-left: 50px;
  }
}
